 <div class="container-fluid">
        <div class="row">

            <div class="color1 col-sm-5 col-md-offset-3">   	
	<h2>Kontaktinformation</h2>
	<p >
		Vi är en mäklare Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis voluptates velit quos delectus nobis optio voluptas, nisi pariatur, perspiciatis dolores quis, amet deserunt molestias possimus expedita accusantium tempora, iusto quo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt est iure delectus quisquam reiciendis ratione facere, doloremque quia hic, aspernatur, iste vitae, asperiores omnis ullam quae dolorum eum mollitia recusandae.
	</p>
</div>
</div>