
<!-- jason-->
<div class="container">  
    <div class="row"> 
  		

  		<div class="col-md-12"> 				
				<div class="well well-lg" id="sok">
					<h2>Vart vill du köpa? </h2>
					<div class="input-group">
				      <input type="text" class="form-control" placeholder="Sök på bostadstyp, adress" id="sokf">
				      <span class="input-group-btn">
				        <button class="btn btn-primary" type="button">Sök!</button>
				      </span>
				    </div><!-- /input-group -->
				</div><!-- close well-->
		</div><!-- close col-->
  	
			
			<!-- Dropdown -->
			<div class="col-md-12"> 
			 	<div class="well well-lg" id="ddown">
					<h2>Vill du sälja?</h2>
					<!-- Single button -->
					<div class="btn-group">
					  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    Vad vill du sälja?<span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu">
					   	<li><a href="#">Värdera din bostad</a></li>
   				  		<li><a href="#">Säljguide</a></li>
    					<li><a href="#">Kontakta vår mäklare</a></li>
					  </ul>
					</div>
  					
				</div>
  							
  				
			</div>
	</div>	
		
	
</div>