<!-- jason  blaupunkt-->
<div class="container">  
    <div class="row"> 
  		

  		<div class="col-md-12"> 				
				<div class="well well-lg" id="sok">
					<h2>Hitta din bostad!</h2>
					<div class="input-group">
				      <input type="text" class="form-control" placeholder="Sök på bostadstyp, adress" id="sokbar">
				      <span class="input-group-btn">
				        <button class="btn btn-primary" type="button">Sök!</button>
				      </span>
				    </div><!-- /input-group -->
				</div><!-- close well-->
		</div><!-- close col-->
  	
			
			<!-- Dropdown -->
			<div class="col-md-12"> 
			 	<div class="well well-lg" id="ddown">
					<h2>Navigera!</h2>
					<!-- Single button -->
					<div class="btn-group">
					  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    Köp/Sälj!<span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu">
					  	<li class="dropdown-header">Vill du köpa?</li>
					   	<li><a class="kopa" href="/lagenhet">Bostad</a></li>
					   	<li class="dropdown-header">Vill du Sälja?</li>
					   	<li><a class="kopa" href="lagenhet">Bostad</a></li>
					   	<li role="separator" class="divider"></li>
					   	<li><a href="/about">Om Oss</a></li>
    					<li><a href="/kontakt">Kontakta vår mäklare</a></li>
    					
					  </ul>
					</div>
  					
				</div>
  							
  				
			</div>
	</div>	
		
	
</div>