<div class="container">
	<div class="row">
		<div class="col-xs-24">
            <h1 class="page-header">HITTA MÄKLARE</h1>                
        </div>
			<div ng-repeat="seller in sellers">
				<div class="col-xs-24 col-md-6">
					<img ng-src={{seller.img}} width="230px" height="240px"><br>
					<h2><p>{{seller.name}}</p></h2>
					<h4>{{seller.position}}</h4>				
					<b>Telefon: </b><p>+46{{seller.phone}}</p>
					<h4><b>Email: </b><p>{{seller.email}}</p><h4>
					<a href="kontakt">Read more about me...</a>
					
				</div>	 
			</div>
		</div>
	</div>
</div>

