<div class="container-fluid">
	<div class="row">
		<div class="col-xs-20 col-xs-offset-2 col-md-22 col-md-offset-1">
            <h1 class="myPage-header">HITTA MÄKLARE</h1><hr>              
        </div>
		<div ng-repeat="seller in sellers" my-modal-seller>
			<div class="col-xs-16 col-xs-offset-4 col-sm-10 col-sm-offset-2 col-md-5 col-md-offset-1" ng-click="openModal(seller)">
				<img ng-src={{seller.img}} width="230px" height="240px" class="img-thumbnail"><br>
				<h2><p>{{seller.name}}</p></h2>
				<h4>{{seller.position}}</h4>				
				<b>Telefon: </b><p>+46{{seller.phone}}</p>
				<h4><b>Email: </b><p>{{seller.email}}</p><h4><br>
			</div>	 
		</div>
	</div><br><br><br>
</div>


	