<div class="container">
	<div class="row">
		<div class="col-xs-24">
            <h1>HITTA MÄKLARE</h1>                
        </div>
			<div ng-repeat="seller in sellers">
				<div class="col-xs-24 col-md-6">
					<img src={{seller.img}} width="230px" height="240px"><br>
					<h2><p>{{seller.name}}</p></h2>
					<b>Email: </b><p>{{seller.email}}</p>
					<b>Telefon: </b><p>+46{{seller.phone}}</p>
					<b>Om mig själv: </b><p>{{seller.about}}</p>
				</div>	 
			</div>
		</div>
	</div>
</div>

