<div class="container">
	<div class="row"> 
		<div class="pull-left">
			<button type="submit" class="btn btn-primary" ng-click="minToMax()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> minsta till högsta pris</button>
			<button type="submit" class="btn btn-primary" ng-click="maxToMin()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> högsta till minsta pris</button>
		</div>
		<div class="pull-right">
  			<home-search></home-search>
  		</div>	
	</div>
</div><br><br>
<div class="container">
  <div class="row">	
    <div class="col-xs-24 col-md-12" ng-repeat="info in results"> 
        <div class="imglist">
          <a ng-href="/objekt/{{info._id}}">
          <img src="{{info.img[0].url}}" class="bildSize1 img-responsive1" alt="{{info.img[0].name}}"/>
          <div class="textOver1 panel panel-default img-responsive1">
            <div class="panel-body img-responsive1">
              <span>{{info.address}}
                <br>
              {{info.price | currency: "KR" : 0 }}</span>
            </div>
          </div>
          </a>
      </div>
    </div>
  </div>
</div>
