.bilder {
    /*width: 400px; // or you could use percentage value for responsive layout
    height: 400px;
    */
    border: 3px solid black;
    }

/*my-carousel {
	.ourCarouselSlide {
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.carousel-indicators {
		display: none;
	}
}*/
/*.blue-background{
 
    width: 200px;
    height: 200px; 
}
*/

/*
.bilder{        
    width: 300px; // or you could use percentage value for responsive layout
    height: 500px;
    overflow: auto;
}

.bilder img{
// your styles for the images
}*/