.img-responsive {
  //padding-bottom: 30px;
  border-radius: 5px;
  margin-bottom:30px;
  width:100%;
  height:400px
}

.imglist {
  position:relative
}

.textOver {
  bottom: 0px;
  //left: 10px;
  color: white;
  position: absolute;
  background-color: rgba(51, 133, 255, 0.6);
  border: none;
  border-radius: 0;
  width: 100%;
  height: 70px; 
}

@media (min-width: 1920px) {
  .myContain {
    width: 1400px;
  }
}
