/* Jason */
.ruta {
  background-color: #3385ff;
  position: relative; 
  padding-left: 140px;
  padding-right: 140px;
  padding-bottom: 73px;
  padding-top: 60px;
  border: 5px solid navy;
  margin: 0;
  color: white;
  text-align: center;
  opacity: 0.6;
}
.ruta h2 {
  margin-bottom: 50px;
  
}
.form-control {
  width: 150%;
}

.dropdown {
  background-color: #3385ff;
  position: relative; 
  padding-left: 140px;
  padding-right: 140px;
  padding-bottom: 73px;
  padding-top: 60px;
  border: 5px solid navy;
  color: white;
  text-align: center;
  opacity: 0.6;
}

