#sok {
  background-color: #3385ff;
  position: relative; 
  padding-bottom: 80px;
  padding-up: 80px;
  color: white;
  text-align: center;
  opacity: 0.6;
  align-content: center;
}

#sok h2 {
  margin-bottom: 50px;
}

#sokf {
  width: 100%;
}

#ddown {
  
  background-color: #3385ff;
  position: relative; 
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 80px;
  padding-up: 80px;
  color: white;
  text-align: center;
  opacity: 0.6;
}

#ddown h2 {
  margin-bottom: 50px;  
}

