.myPage { 
	text-align: center;
	padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  background-color: rgba(51,133,255, 0.6);
}

hr {
  border-top: 2px solid #EEECEC;
}
.myMouseOver:hover {
	background-color:rgba(255,255,255, 0.8); 
	cursor: hand;
	cursor: pointer;

}

.myModalColor {
	background-color: rgba(51,133,255, 0.6);
}

@media (min-width: 1920px) {
  .myContainer {
    width: 1400px;
  }
}

@media (min-width: 1300px) {
  .myContainer {
    width: 1280px;
  }
}

#log:hover{
  background-color: rgba(51,133,255, 0.6); 
  color: white;
}