<nav class="navbar navbar-default" id="navb" role="navigation">
  <div class="container">
    <div class="row">
      <div class="navbar-header">

        <!-- use ng-init + ng-click to make nav collapsible -->
        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand"  id="nava" ng-href="/"><h2>DYHR & RUMSON</h2></a>
      </div> <!-- end navbar-header -->

      <!-- ng-class assigns the collapsed "in" class whenever appropriate -->
      <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true">

        <ul class="nav navbar-nav navbar-left"></ul>

        <div class="navbar-form navbar-right btn-group">
          <ul class="nav navbar-nav navbar-right">
            <li><a ng-href="/kontakt" id="log"><span class="glyphicon glyphicon-user"></span> Kontakta oss</a></li>
            <li><a ng-href="/about" id="log"><span class="glyphicon glyphicon-log-in"></span> Om oss</a></li>
            <li><a ng-href="/maklare" id="log"><span class="glyphicon glyphicon-briefcase"></span> Mäklare</a></li>
          </ul>
        </div>
      </div>
    </div>  
  </div>
</nav>


