
<div class="container">  
      
      <div class="col-md-12" ng-repeat="info in information">         
    <div class="row"> 

        
      <div class="well well-lg " ng-mouseover="toggleWells()">
          
          <a href="/fastigheter/" class="thumbnail bilder img-circle" ng-repeat="bild in info.img">
                  <img src="{{bild.url}}"  alt="{{bild.name}}" />
                </a>
        
    </div><!-- close col-->
      </div><!-- close well-->
    



      <!-- .col-xs-  .col-sm-  .col-md-  .col-lg-  .col-xl-     sizes smalest to biggest screen size-->  
