
<div class="container">  
  <div class="row"> 




    <div class="col-md-12 bo-lol" ng-repeat="info in information" style="background-color: lavender"> 



        <div class="img-list">
        <a href="/fastigheter/"  ng-repeat="bild in info.img">
        <img src="{{bild.url}}"  alt="{{bild.name}}"width="559" height="374"/>
    



        <div class="panel panel-default hej">
  <div class="panel-body">
   {{info.address}}
   <br>
   {{info.price}}
  </div>
  </div>
  <!-- <div class="panel-footer">Panel footer</div>
</div> -->
</a>
        <!-- <div>
        <p class="text-justify"><span class="hej">{{info.address}}</span></p>
        </a>
        </div> -->

        
      </div><!-- close col-->
    </div><!-- close well-->
  </div><!-- close well-->
</div><!-- close well-->



<style>

/*.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.img-list img {
  display: inline-block;
  margin: 0 1em 1em 0;
  position: relative;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
 
  left: 0;
  position: absolute;
  top: 0;
  
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;

  left: 0;
  position: absolute;
  top: 0;
 
  opacity: 0;
}

.img-list img:hover span.text-content {
  opacity: 1;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  
  left: 0;
  position: absolute;
  top: 0;

  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}*/

.hej {
    bottom:10px ;
    left:20px;
    color: white;
    position: absolute;
    background-color: rgba(51, 133, 255, 0.6);
   

}
</style>


      <!-- .col-xs-  .col-sm-  .col-md-  .col-lg-  .col-xl-     sizes smalest to biggest screen size-->  
<!-- class="thumbnail bilder img-circle" -->