
<div class="btn-group" role="group" aria-label="..."  >
   
  <button type="button" class="btn btn-default"  ng-class="{'active': isFActive}" ng-click="go(updown-1)" ><span aria-hidden="true">&laquo;</span></button>
  <button type="button" class="btn btn-default" ng-click="go(oneNumber-1)" ng-repeat="oneNumber in pageNumbers">{{oneNumber}}</button>
  <button type="button" class="btn btn-default"  ng-class="{'active': isLActive}" ng-click="go(updown+1)" ><span aria-hidden="true">&raquo;</span></button>
  
</div>

